body {
	margin: 0;
	font-family: 'Roboto';
}

* {
	box-sizing: border-box;
	/*border: solid 1px;*/
}

.top {
	width: 100%;
	height: 15vh;
	top: 0;
	position: static;
	background-color: #005353;
	padding: 1.5em;
	text-align: center;
	color: white;
	font-family: 'Nanum Gothic', sans-serif;
	letter-spacing: 3px;
}

.top h1 {
	margin-bottom: : .1em;
}

.top h2 {
	margin: 0;
}

#chooseCat {
	padding-top: .5em;
	text-align: center;
	font-size: 50px;
}

#category {
	width: 30vw;
	padding: .5em;
	background-color: #7FC2C5;
}

.box {
	width: 60vw;
	margin: 1em auto;
	vertical-align: middle;
	text-align: center;
	padding: 1em;
	border-radius: 5px;
	background-color: #e7b6b3;

	border: solid 3px #999999;
}

.box img {
	text-align: left;
}

p {
	font-size: 30px;
	color: white;
	margin: 1em;
}