body {
	margin: 0;
}

* {
	box-sizing: border-box;
	/*border: solid 1px;*/
}

.top {
	background: #005353;
	padding: 1.5em;
	text-align: center;
	color: white;
}

.field {
	width: 100%;
	height: 50vw;
	text-align: center;
}

button {
	cursor: pointer;
    border: none;
    background-color: white;
    padding: 0;
    text-align: center;
}

#btn {
	position: relative;
	/*left: 50vw;*/
}

#button:hover {
	function
}